
body {
    background-color: #F6F5EF; 
    font-family: Arial, sans-serif; 
    text-align: center; /* Alinea el texto al centro horizontalmente */
    color: #1F312A;
}

/* Estilo para el encabezado */
h1 {
    font-family: Georgia, serif; /* Cambia la fuente del título a Georgia */
    margin-top: 20px; /* Márgen superior de 20px */
    text-align: center;
    color: #1F312A;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input {  
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; /* Asegura que los inputs ocupen todo el ancho disponible */
}

button {
  width: calc(97% - 22px);
  padding: 8px;
  margin-top: 15px;
  background-image: linear-gradient(to left, #4A9862, #BC2985);
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
  font-weight: bold;
}

/* Botones: Efecto hover */
button:hover {
  background-image: linear-gradient(to left, #BC2985, #4A9862);
  transform: translateY(-2px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Botones: Animación de entrada */
button {
  animation: fade-in 1.5s ease-out;
}

/* Animación de opacidad para entrada suave */
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

nav {
  margin-top: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin-bottom: 10px;
}

/* Fondo animado para todas las páginas excepto Login y Register */
.animated-background {
  background: linear-gradient(135deg, #6a1b9a, #bc47b0, #f2a9c8);
  background-size: 300% 300%;
  animation: gradientBG 8s ease infinite;
  min-height: 100vh; /* Cubre toda la altura de la pantalla */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Animación del gradiente */
@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Fondo neutro para Login y Register */
.auth-page {
  background-color: #F6F5EF;
}