
/* Animación para un efecto de aparición */
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Estilo principal para la pantalla de inicio de sesión */
.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/public/prometeo.jpg');
  background-size: cover;  /* Asegura que la imagen cubra todo el contenedor */
  background-position: center;  /* Centra la imagen */
  background-repeat: no-repeat;  /* Evita que la imagen se repita */
  font-family: 'Literata', sans-serif;
}


/* Contenedor izquierdo en la pantalla de inicio de sesión */
.Login .left-container {
  width: 50%;
  padding: 20px;
  animation: fade-in 1.5s ease-out;
}

/* Contenedor derecho, que incluye el formulario */
.Login .right-container {
  width: 30%;
  padding: 20px;
  background-color: rgba(240, 240, 240, 0.85);
  border-radius: 10px;
  animation: fade-in 1.5s ease-out;
}

/* Configuración del formulario */
.Login form {
  max-width: 350px; 
  margin: 0 auto;
}

/* Separación entre grupos de campos en el formulario */
.Login .form-group {
  margin-bottom: 15px;
}


/* Estilo para las etiquetas de los campos */
.Login label {
  display: block; 
  margin-bottom: 5px;
  font-weight: bold; 
}

/* Estilo para los campos de entrada */
.Login input[type="email"],
.Login input[type="password"] {
  width: 100%; 
  height: 40px;
  padding: 0 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
}

/* Efecto de enfoque en los campos de entrada */
.Login input[type="email"]:focus,
.Login input[type="password"]:focus {
  border-color: #4C8D86;
  border-width: 2px;
}

/* Estilo para el botón de inicio de sesión */
.Login button {
  width: calc(97% - 22px);
  padding: 8px;
  margin-top: 15px;
  background-image: linear-gradient(to left, #4A9862, #BC2985);
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Efecto al pasar el cursor sobre el botón */
.Login button:hover {
  background-image: linear-gradient(to left, #BC2985, #4A9862);
  transform: translateY(-2px);
}

/* Estilo para el encabezado principal */
.Login h1 {
  font-size: 190%;
  background-image: linear-gradient(to left, #4A9862, #BC2985);
  -webkit-background-clip: text; 
  color: transparent; 
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

/* Enlace para registrar una cuenta */
.Login .register-link {
  color: #666;
  text-align: center;
  margin-top: 20px;
  font-size: 100%;
}

/* Estilo específico para el enlace de registro */
.Login .register-link a {
  color: #E35D6F;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

/* Efecto al pasar el cursor sobre el enlace de registro */
.Login .register-link a:hover {
  color: #DA2534;
  cursor: pointer;
}

/* Contenedor principal de error */
.error-container {
  position: relative;
  z-index: 2; /* Asegura que el contenido no se solape con la animación */
  text-align: center;
  padding-top: 20px; /* Ajusta la distancia superior para mover el texto más cerca de la parte superior */
}

/* Ajustar el texto */
.error-container p {
  font-size: 24px;
  font-family: 'Georgia, serif';
  margin-top: 20px; /* Ajustar el margen superior para mover el texto más arriba */
  color: #333; /* Color más oscuro para mejor visibilidad */
}

/* Ajustar el botón */
.error-container .text-center {
  margin-top: 30px; /* Mueve el botón más arriba */
}

/* Ajustar la animación del gato */
.DancingCat {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: fixed;  /* Mantiene al gato fijo en la pantalla */
  top: 20%;  /* Ajusta para que el gato no esté tan arriba y se vea toda la cara */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; /* Asegura que la animación esté debajo de los otros elementos */
}

/*Contenedor para la animación de errores*/
.DancingCat .container {
  height: 25em; /* Mantiene el tamaño adecuado */
  width: 31.25em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%; /* Centrado verticalmente */
  left: 50%;
  perspective: 50em;
}
